KISFoodLib/KISFood_DataManagerExport1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="DataManagerExport1_DataManagerHttp_Service" targetNamespace="http://KISFoodLib/DataManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="http://KISFoodLib/DataManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="DataManager.wsdl" namespace="http://KISFoodLib/DataManager"/>
  <wsdl:binding name="DataManagerExport1_DataManagerHttpBinding" type="this:DataManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createDrzava">
      <soap:operation soapAction=""/>
      <wsdl:input name="createDrzavaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createDrzavaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readDrzava">
      <soap:operation soapAction=""/>
      <wsdl:input name="readDrzavaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readDrzavaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDrzava">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateDrzavaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDrzavaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDrzava">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteDrzavaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteDrzavaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDrzava">
      <soap:operation soapAction=""/>
      <wsdl:input name="listDrzavaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listDrzavaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createIzdelek">
      <soap:operation soapAction=""/>
      <wsdl:input name="createIzdelekRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createIzdelekResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readIzdelek">
      <soap:operation soapAction=""/>
      <wsdl:input name="readIzdelekRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readIzdelekResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIzdelek">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateIzdelekRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateIzdelekResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteIzdelek">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteIzdelekRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteIzdelekResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listIzdelek">
      <soap:operation soapAction=""/>
      <wsdl:input name="listIzdelekRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listIzdelekResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createKategorija">
      <soap:operation soapAction=""/>
      <wsdl:input name="createKategorijaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createKategorijaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readKategorija">
      <soap:operation soapAction=""/>
      <wsdl:input name="readKategorijaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readKategorijaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKategorija">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateKategorijaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateKategorijaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteKategorija">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteKategorijaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteKategorijaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listKategorija">
      <soap:operation soapAction=""/>
      <wsdl:input name="listKategorijaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listKategorijaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createProizvajalec">
      <soap:operation soapAction=""/>
      <wsdl:input name="createProizvajalecRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProizvajalecResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readProizvajalec">
      <soap:operation soapAction=""/>
      <wsdl:input name="readProizvajalecRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readProizvajalecResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProizvajalec">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateProizvajalecRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProizvajalecResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProizvajalec">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteProizvajalecRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProizvajalecResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listProizvajalec">
      <soap:operation soapAction=""/>
      <wsdl:input name="listProizvajalecRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listProizvajalecResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="createUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="readUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="listUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="loginUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existsUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="existsUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="existsUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdminUporabnik">
      <soap:operation soapAction=""/>
      <wsdl:input name="isAdminUporabnikRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isAdminUporabnikResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataManagerExport1_DataManagerHttpService">
    <wsdl:port binding="this:DataManagerExport1_DataManagerHttpBinding" name="DataManagerExport1_DataManagerHttpPort">
      <soap:address location="http://localhost:9080/KISFoodWeb/sca/DataManagerExport1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>