KISFoodLib/Proizvajalec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://KISFoodLib"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://KISFoodLib">
	<xsd:include schemaLocation="Ocena.xsd"></xsd:include>
	<xsd:complexType name="Proizvajalec">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="id" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="naziv" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="drzava"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="mesto" type="xsd:string"></xsd:element>


			<xsd:element minOccurs="0" name="ocene"
				maxOccurs="unbounded" type="bons0:Ocena">

			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>